PORT = 3337
DB_HOST=localhost
DB_PORT=5456
DB_PASSWORD=
DB_USERNAME=
DB_NAME=sms-service

DATABASE_URL =postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public

REDIS_HOST=localhost
REDIS_PORT=
REDIS_PASSWORD=

SERVICE_BASE_URL=http://localhost:3337
HUB_URL=http://localhost:3335